.content {
  .most-viewed {
    margin-top: 25px;
    nz-breadcrumb {
      margin-bottom: 30px;
    }

    nz-carousel {
        margin-bottom: 30px;
        height: 400px;
      [nz-carousel-content] {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #364d79;
        color: #fff;
        overflow: hidden;
      }

      h3 {
        color: #fff;
        margin-bottom: 0;
        user-select: none;
        height: 80%;
      }
    }
  }

  .recent-viewed {
    margin-bottom: 30px;
  }

  .todays-deals {

    .todays-deals_items {
      nz-carousel {
        height: 400px;
      [nz-carousel-content] {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #364d79;
        color: #fff;
        overflow: hidden;
      }

      h3 {
        color: #fff;
        margin-bottom: 0;
        user-select: none;
        height: 80%;
      }
    }
    }
  }
}
